<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zpi.zpi_tours" >

    <uses-sdk android:minSdkVersion="12" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralActivity"
            android:label="@string/title_activity_general" >
        </activity>
        <activity
            android:name=".ADMIN_InsertUzytkownikActivity"
            android:label="@string/title_activity_insert_uzytkownik" >
        </activity>
        <activity
            android:name=".ADMIN_UpdateUzytkownikActivity"
            android:label="@string/title_activity_update_uzytkownik" >
        </activity>
        <activity
            android:name=".ADMIN_InsertWycieczkaActivity"
            android:label="@string/title_activity_insert_wycieczka" >
        </activity>
        <activity
            android:name=".ADMIN_UpdateWycieczkaActivity"
            android:label="@string/title_activity_update_wycieczka" >
        </activity>
        <activity
            android:name=".AktualizujWycieczkeActivity"
            android:label="@string/title_activity_aktualizuj_wycieczke"
            android:parentActivityName=".GeneralActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zpi.zpi_tours.GeneralActivity" />
        </activity>
        <activity
            android:name=".AktualizujUzytkownikaActivity"
            android:label="@string/title_activity_aktualizuj_uzytkownika" >
        </activity>
        <activity
            android:name=".RejestracjaUzytkownikaActivity"
            android:label="@string/title_activity_rejestracja_uzytkownika" >
        </activity>
        <activity
            android:name=".DodajWycieczkeActivity"
            android:label="@string/title_activity_dodaj_wycieczke" >
        </activity>
    </application>

</manifest>
